.lp-wrapper-outer{
    width: 100%;
    display: flex;
    padding: 25px 20px;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.lp-wrapper {
    width: 90vw;
    padding: 25px 20px;
    display: flex;
    justify-content: center;
    height: 100%;
}

.lp-heading-wrapper {
    width: 38%;
    height: auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f391;
    padding: 20px 20px 20px;
    border-radius: 10px;
    z-index: 1;
    align-self: flex-start;
}

.lp-heading {
    text-align: center;
    color: #57B9FF;
    font-size: 25px;
}
.lp-heading-logo {
    width: 80px;
    height: 80px;
}
.lp-heading-desc {
    padding-top: 10px;
    line-height: 1.5;
    text-align: justify;
    font-weight: 400;
    color: #484848;
    font-size: 14.5px;
}
.lp-image-wrapper {
    width: 67%;
    display: flex;
    justify-content: center;
    align-items: anchor-center;
}

.lp-image {
    width: auto;
    height: 650px;
}