/* got styles from dashboardtemplate for the button */

.db-nav-add-transaction-button {
    width: 100%;
    padding: 15px 10px;
    color: #EEEEEE;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #57B9FF;
    background-color: #57B9FF;
    display: flex;
    align-items: center;
    column-gap: 10px;
    transition: 0.3s;
    margin-top: 20px;
}
.db-nav-plus-icon {
    width: 20px;
    height: 20px;
}
.db-nav-add-transaction-button:hover {
    background-color: #7fc7fb;
}

.add-expense-wrapper {
    display: none;
}

.add-expense-wrapper.display {
    position: absolute;
    width: 50vw;
    height: auto;
    padding: 20px;
}

