/* got styles from dashboardtemplate for the button */


.add-expense-wrapper {
    display: none;
}

.add-expense-wrapper.display {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 10%);
    width: 40vw;
    height: auto;
    padding: 20px;
    background-color: lightgray;
    z-index: 1;
    border-radius: 10px;    
     box-shadow: 2px 2px 7px #cac8c8;
}

.add-expense-wrapper .close-button {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
.add-expense-form-heading {
    margin-bottom: 10px;
}

.add-expense-wrapper form label {
    margin-bottom: 10px;
}
.add-expense-wrapper form input {
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 35px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.add-expense-wrapper form select {
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 35px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.add-expense-wrapper .react-datepicker-wrapper {
    isolation: isolate;
}

.add-expense-wrapper .react-datepicker {
    isolation: isolate;
}
.add-expense-wrapper form textarea{
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 80px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-family: inherit;
    margin-bottom: 10px;
}

.add-expense-submit-button {
    width: auto;
    /* border: 1px solid lightgray; */
    height: 35px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(99, 198, 231);
    color: #FFFFFF;
    border: 1px solid rgb(99, 198, 231);
    cursor: pointer;
    transition: background-color 0.5s;
}

.add-expense-submit-button:hover {
    background-color: rgb(82, 172, 202);
    border: 1px solid  rgb(82, 172, 202);
}