.transaction-list-heading {
    font-size: 30px;
}

.transaction-list {
    /* margin-top: 20px; */
}

.transaction-list-item {
    list-style: none;
    border-bottom: 1px solid #cbcbcb;
    padding: 20px 10px 20px 0px;
    font-size: 15px;
}

.transaction-list-item-text {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 2.5px;
    color: rgb(111, 111, 111);
}
.transaction-list-item-text:first-child{
    margin-top: 0; 
}
