.button-wrapper {
    width: 100%;
    display: flex;
    margin-top: 20px;
}
.button-elem {
    width: 100%;
    padding: 10px;
    background-color: #57B9FF;
    color: #EEEEEE;
    border: 3px solid #57B9FF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button-elem:hover .button-elem-arrow {
    background-image: url("../../assets/images/right-arrow-blue.png");
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    background-size: 100%;
}
.button-elem-arrow {
    background-image: url("../../assets/images/right-arrow.png");
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    background-size: 100%;
}

.button-elem:hover {
    background-color: #FFFFFF;
    color: #57B9FF;

}
.button-elem-arrow{
    width: 16px;
    height: 16px;
}