* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #323232;
}

