.db-wrapper {
    display: flex;
    width: 100%;
    padding: 50px 60px;
    flex-direction: column;
    letter-spacing: 0.1px;
    position: relative;
}

.db-wrapper a {
    text-decoration: none;
    color: #484848;
}
.db-wrapper-inner {
    display: flex;
}
.db-nav-wrapper {
    width: 30%;
    position: relative;
}
.db-nav-wrapper-inner {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    background-color: #EEEEEE;
    height: auto;
    flex-direction: column;
    border-radius: 10px;
    padding: 40px 16px 40px;
    box-shadow: 2px 2px 7px #cac8c8;
}

.db-nav-db-link {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.db-nav-db-link-logo {
    width: 50px;
    height: 50px;
}
.db-nav-wrapper h1 {
    font-size: 20px;
    color: #57B9FF;
}

.db-nav-profile-greeting {
    font-weight: 700;
}

.db-nav-profile-img-wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 20px;
}

.db-nav-profile-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.db-sidenav-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.db-sidenav-wrapper a {
    height: auto; 
    width: calc(100% + 32px);
    transform: translate(-16px, 0);
    padding: 15px 20px;
    transition: background-color 0.3s;
}

.db-sidenav-wrapper a:hover {
    background-color: #57B9FF;
    color: #EEEEEE;
}

.db-content {
    width: 70%;
}