.db-wrapper {
    display: flex;
    width: 100%;
    padding: 50px 60px 50px 40px;
    flex-direction: column;
    letter-spacing: 0.1px;
    position: relative;
    height: 100vh;
    overflow-y: scroll;
}

.db-wrapper a {
    text-decoration: none;
    color: #484848;
}
.db-wrapper-inner {
    display: flex;
    position: relative;
}
.db-nav-wrapper {
    width: 30%;
    position: relative;
}
.db-nav-wrapper-inner {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 250px;
    background-color: #EEEEEE;
    height: auto;
    flex-direction: column;
    border-radius: 10px;
    padding: 40px 16px 40px;
    box-shadow: 2px 2px 7px #cac8c8;
}

.db-nav-db-link {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.db-nav-db-link-logo {
    width: 50px;
    height: 50px;
}
.db-nav-wrapper h1 {
    font-size: 20px;
    color: #57B9FF;
}

.db-nav-profile-greeting {
    font-weight: 700;
}

.db-nav-profile-img-wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 20px;
}

.db-nav-profile-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.db-sidenav-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.db-sidenav-wrapper a {
    height: auto; 
    width: calc(100% + 32px);
    transform: translate(-16px, 0);
    padding: 15px 20px;
    transition: background-color 0.3s;
}

.db-sidenav-wrapper a:hover {
    background-color: #57B9FF;
    color: #EEEEEE;
}

.db-nav-link.active {
    background-color: #57B9FF;
    color: #EEEEEE;
}

.db-nav-link {
    display: flex;
    align-items: center;
}
.db-sidenav-wrapper img {
    width: 23px;
    height: 23px;
    margin-right: 10px;
}
.db-content {
    width: 70%;
    padding-left: 30px;
}

.db-nav-add-transaction-button {
    width: 100%;
    padding: 15px 10px;
    color: #EEEEEE;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #57B9FF;
    background-color: #57B9FF;
    display: flex;
    align-items: center;
    column-gap: 10px;
    transition: 0.3s;
    margin-top: 20px;
}

.db-nav-plus-icon {
    width: 20px;
    height: 20px;
}

.db-nav-add-transaction-button:hover {
    background-color: #7fc7fb;
}

.db-logout-button {
    border: 1px solid lightgray;
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    color: gray;
    transition: background-color 0.5s;
    cursor: pointer;
    font-size: 13.5px;
    font-weight: 300;
}

.db-logout-button:hover {
    background-color: rgb(250, 123, 123);
}

.db-nav-wrapper-mobile-top-nav {
    display: none;
}

.db-nav-wrapper-mobile-bottom-nav {
    display: none;
}
@media screen and (max-width: 768px) {
    .db-wrapper {
        padding: 130px 20px;
    }
    .db-nav-wrapper {
        display: none;
    }

    .db-nav-wrapper-mobile-top-nav {
        display: block;
        position: fixed;
        top: 0;
        left: 0;    
        width: 100vw;
        z-index: 10;
        background-color: #EEEEEE;
        box-shadow: 2px 2px 7px #cac8c8;
    }
    .db-nav-db-link {
        padding: 4px;
        justify-content: center;
    }
    .db-nav-db-link img {
        width: 32px;
        height: 32px;
    }
    .db-nav-db-link h1 {
        font-size: 18px;
    }
    .db-sidenav-wrapper {
        margin-top: 0;
        display: flex;
        justify-content: space-evenly;
        z-index: 10;
    }
    .db-nav-wrapper-mobile-top-nav .db-sidenav-wrapper {
        flex-direction: row;
    }
    .db-nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .db-sidenav-wrapper a {
        padding: 10px 0;
        width: 33.5%;
        transform: unset;
    }
    .db-nav-link p {
        display: block;
        width: 100%;
        text-align: center;
    }
    .db-nav-link img {
        margin-bottom: 5px;
        margin-right: 0;
    }
    .db-nav-wrapper-mobile-bottom-nav {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #EEEEEE;
        width: 100vw;
        flex-direction: column;
        padding: 10px;
        z-index: 40;
    }

    .db-nav-add-transaction-button {
        margin-top: 0;
        padding: 12px;
        font-size: 15px;
        justify-content: center;
    }

    .db-logout-button {
        height: 0;
        height: 30px;
        z-index: 40;
    }
    .db-content {
        width: 100%;
        padding: 0 20px;
    }

}