.invalid-banner-wrapper {
    width: 100vw;
    height: 100%;
    /* position: relative; */
    z-index: 1;
    transition: all 1s linear;
    opacity: 0;
}

#invalid-banner {
    position: absolute;
    bottom: 20px;
    left: 70px;
    height: 40px;
    max-width: 280px;
    width: 80vw;
    background-color: rgb(214, 43, 54);
    border-width: 0px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}

.invalid-banner-wrapper img {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}